@model SIRH.Web.ViewModels.FormularioDiferenciaSalarialVM
@using SIRH.DTO;
@using (Html.BeginForm("AgregarDiferenciaSalarial", "DiferenciaSalarial", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.Paso)
    @Html.HiddenFor(model => Model.Funcionario.Cedula)
    @Html.HiddenFor(model => Model.PuestoAnterior.CodPuesto)
    @Html.HiddenFor(model => Model.PuestoActual.CodPuesto)
    @Html.HiddenFor(model => model.DetallePuestoActual.Clase.DesClase)
    @Html.HiddenFor(model => model.DetallePuestoActual.Clase.IdEntidad)
    @Html.HiddenFor(model => model.DetallePuestoAnterior.Clase.DesClase)
    @Html.HiddenFor(model => model.DetallePuestoAnterior.Clase.IdEntidad)
    @Html.HiddenFor(model => model.DetallePuestoActual.Especialidad.DesEspecialidad)
    @Html.HiddenFor(model => model.DetallePuestoActual.Especialidad.IdEntidad)
    @Html.HiddenFor(model => model.DetallePuestoAnterior.Especialidad.DesEspecialidad)
    @Html.HiddenFor(model => model.DetallePuestoAnterior.Especialidad.IdEntidad)
    @Html.HiddenFor(model => model.PeriodoActual.FecInicio)
    @Html.HiddenFor(model => model.PeriodoActual.FecFinal)

    <div class="card rounded-0" style="margin-top: -8px;">
        <div class="card-body">
            <h4>
                Periodos ingresados
            </h4>
            @{int i = 0;}
            @foreach (var periodo in ((List<CDetalleDiferenciaSalarialDTO>)Session["periodos"]))
            {
                <table class="table table-bordered">
                    <tr>
                        <td colspan="4" class="text-center">
                            <strong> @periodo.FecInicio.ToString().Split(' ')[0] - @periodo.FecFinal.ToString().Split(' ')[0] </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <strong> Diferencia del Periodo </strong>
                            @periodo.TotalDiferencia
                        </td>
                        <td>
                            <strong> Salario escolar </strong>
                            @periodo.TotalSalarioEscolar
                        </td>
                        <td>
                            <strong> Aguinaldo </strong>
                            @periodo.TotalAguinaldo
                        </td>
                        <td>
                            <button name="SubmitButton" class="btn btn-block btn-danger"
                                    type="submit" data-toggle="tooltip"
                                    data-placement="right" title="Eliminar periodo"
                                    value="Eliminar periodo-@i">
                                <i class="fa fa-trash"></i>
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <strong> Deducciones Patronal </strong>
                            @periodo.TotalDeduccionesPatronal
                        </td>
                        <td>
                            <strong> Deducciones Obrero </strong>
                            @periodo.TotalDeduccionesObrero
                        </td>
                        <td>
                            <strong> Total a pagar </strong>
                            (N/A)
                        </td>
                        <td>
                            <button name="SubmitButton" class="btn btn-block btn-warning"
                                    type="submit" data-toggle="tooltip"
                                    data-placement="right" title="Editar periodo"
                                    value="Editar periodo-@i">
                                <i class="fa fa-pencil"></i>
                                Editar
                            </button>
                        </td>
                    </tr>
                </table>
                i++;
            }
            <div class="row">
                <div class="col-6 text-center">
                    <button name="SubmitButton" class="btn btn-warning"
                            type="submit" data-toggle="tooltip"
                            data-placement="right" title="Nuevo periodo"
                            value="Agregar otro periodo">
                        Agregar otro periodo
                    </button>
                </div>
                <div class="col-6 text-center">
                    <button name="SubmitButton" class="btn btn-success"
                            type="submit" data-toggle="tooltip"
                            data-placement="right" title="Generar Resumen"
                            value="Generar Resumen">
                        Generar Resumen
                    </button>
                </div>
            </div>

        </div>
    </div>
}


